.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 1rem;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.phone {
    margin-top: 0.5rem;
}
nav a {
    color: #100f0f;
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #d0c9e2;
    color: #687f9c;
}

nav ul {
    display: flex !important;
    justify-content: center !important;
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

nav li {
    margin: 0 10px !important;
}

nav a {
    color: #171212;
    text-decoration: none;
    padding: 6px 12px;
}

nav a:hover {
    background-color: #555;
    border-radius: 4px;
}