<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Add Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!-- Add custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <div class="logo">
        <img src="{{ asset('images/logo.png') }}" alt="Logo">
    </div>
    <div class="right-side">
        <div class="logout">
            {% if app.user %}
                <a href="{{ path('app_logout') }}" class="btn btn-primary">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn btn-primary">Connexion</a>
            {% endif %}
        </div>
        <div class="phone">
            <i class="fas fa-phone"></i> 01 23 45 67 89
        </div>
    </div>

    {% block stylesheets %}{% endblock %}
</head>
{% block nav %}

{% endblock %}
<body>

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
